extends ../layouts/auth.pug

block auth
  .wrapper-page
    .text-center
      a.logo-lg(href='/')
        i.mdi.mdi-shield
        span D.O.E
    form#subscribeForm.form-horizontal.m-t-20(method='POST', action='/login')
      .form-group.row
        .col-12
          .input-group
            span.input-group-addon
              i.mdi.mdi-email
            input#email.form-control(name='email', type='email', required='', placeholder='email')
      .form-group.row
          .col-12
            .input-group
              span.input-group-addon
                i.mdi.mdi-key
              input.form-control#registerPassword(name='password', type='password', required='', placeholder='Password')
      .form-group.row
        .col-12
          .checkbox.checkbox-primary
            input#checkbox-signup(type='checkbox')
            label(for='checkbox-signup')
                      | Show Password
      .form-group.text-right.m-t-20
        .col-xs-12
          button.btn.btn-primary.btn-custom.w-md.waves-effect.waves-light(type='submit',value='Submit')
            | Log In
      .form-group.row.m-t-30
        .col-sm-7
          a.text-muted(href='/reset')
            i.fa.fa-lock.m-r-5
            |  Forgot your
            |                             password?
        .col-sm-5.text-right
          a.text-muted(href='/register') Create an account

      
