extends ../layouts/auth.pug

block auth
  .wrapper-page
    .text-center
      a.logo-lg(href='/')
        i.mdi.mdi-shield
        span D.O.E
    form.form-horizontal.m-t-20(method='POST', action='/register')
      .form-group.row
        .col-12
          .input-group
            span.input-group-addon
              i.mdi.mdi-account
            input.form-control(name='name', type='text', required='', placeholder='Name')
      .form-group.row
        .col-12
          .input-group
            span.input-group-addon
              i.mdi.mdi-account
            input.form-control(name='username', type='text', required='', placeholder='Username')
      .form-group.row
        .col-12
          .input-group
            span.input-group-addon
              i.mdi.mdi-email
            input.form-control(name='email', type='email', required='', placeholder='Email')
      .form-group.row
          .col-12
            .input-group
              span.input-group-addon
                i.mdi.mdi-key
              input.form-control#registerPassword(name='password', type='password', required='', placeholder='Password')
      .form-group.row
        .col-12
          .checkbox.checkbox-primary
            input#checkbox-signup(type='checkbox')
            label(for='checkbox-signup')
              | Show Password
      .form-group.text-right.m-t-20
        .col-xs-12
          button.btn.btn-primary.btn-custom.waves-effect.waves-light.w-md(type='submit',value='Submit') Register
      .form-group.row.m-t-30
        .col-12.text-center
          a.text-muted(href='/login') Already have account?
      .form-group.row      
        .g-recaptcha(data-sitekey=localKey)
