extends ../layouts/auth.pug

block auth
  .wrapper-page
    .text-center
      a.logo-lg(href='/')
        i.mdi.mdi-shield
        span D.O.E
    form.text-center.m-t-20(method='post', action='/reset/password/'+token, role='form')
      .alert.alert-success.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
        |                     Enter your new
        b Password
        |  to and select reset!
      .form-group.m-b-0
        .input-group
          input.form-control(type='password',name='password', placeholder='Enter New Password', required='')
          span.input-group-btn
            button.btn.btn-email.btn-primary.waves-effect.waves-light(type='submit') Reset
