doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='A fully featured admin theme which can be used to build CRM, CMS, etc.')
    meta(name='author', content='Coderthemes')
    title Authentication
    link(rel='shortcut icon', type='image/png', href='../../frontend-assets/assets/img/logo.png')
    link(rel='shortcut icon', type='image/png', href='../../frontend-assets/assets/img/logo.png')
    link(href='../../backend-assets/plugins/switchery/switchery.min.css', rel='stylesheet')
    link(href='../../backend-assets/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='../../backend-assets/assets/css/icons.css', rel='stylesheet', type='text/css')
    link(href='../../backend-assets/assets/css/style.css', rel='stylesheet', type='text/css')
    script(src='../../backend-assets/assets/js/jquery.min.js')
    script(src='../../backend-assets/assets/js/modernizr.min.js')
    //recaptcha api
    script(src='https://www.google.com/recaptcha/api.js')
  body
    if messages.length!=0
      .col-4(style='margin-left: 450px;')
        .alert.alert-success.alert-dismissible #{messages}
          button(type='button', class='close', data-dismiss='alert', aria-hidden='true')|x
    if messages_error.length!=0
      .col-4(style='margin-left: 450px;')
        .alert.alert-danger.alert-dismissible #{messages_error}
          button(type='button', class='close', data-dismiss='alert', aria-hidden='true')|x
    block auth
    script.
      var resizefunc = [];
    // Plugins
    
    script(src='../../backend-assets/assets/js/popper.min.js')
    // Popper for Bootstrap
    script(src='../../backend-assets/assets/js/bootstrap.min.js')
    script(src='../../backend-assets/assets/js/detect.js')
    script(src='../../backend-assets/assets/js/fastclick.js')
    script(src='../../backend-assets/assets/js/jquery.slimscroll.js')
    script(src='../../backend-assets/assets/js/jquery.blockUI.js')
    script(src='../../backend-assets/assets/js/waves.js')
    script(src='../../backend-assets/assets/js/wow.min.js')
    script(src='../../backend-assets/assets/js/jquery.nicescroll.js')
    script(src='../../backend-assets/assets/js/jquery.scrollTo.min.js')
    script(src='../../backend-assets/plugins/switchery/switchery.min.js')
    // Custom main Js
    script(src='../../backend-assets/assets/js/jquery.core.js')
    script(src='../../backend-assets/assets/js/jquery.app.js')
    script(src='../../frontend-requests/ajax-req.js')
    
